<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="ckan_datastore"
   iconfile="ckan_logo.png"
   description="CKAN DataStore Upload"
   tooltip="Upload data to a CKAN DataStore resource"
   category="Output"
   classname="org.ckan.ckanMeta">
   <libraries>
    <library name="ckan_datastore.jar"/>
    <library name="lib/commons-logging-1.2.jar"/>
    <library name="lib/gson-2.2.jar"/>
    <library name="lib/jsoup-1.8.1.jar"/>
    <library name="lib/httpclient-4.2.jar"/>
    <library name="lib/httpcore-4.2.jar"/>
    <library name="lib/httpmime-4.2.jar"/>
   </libraries>
    
   <localized_category>
     <category locale="en_US">Output</category>
     <category locale="nl_NL">Output</category>
     <category locale="fr_FR">Output</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">CKAN DataStore Upload</description>
     <description locale="nl_NL">CKAN DataStore Upload</description>
     <description locale="fr_FR">CKAN DataStore Upload</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This is a CKAN upload step</tooltip>
     <tooltip locale="nl_NL">Dit is een CKAN uploaden stap</tooltip>
     <tooltip locale="fr_FR">Ce est un plugin de CKAN</tooltip>
   </localized_tooltip>
   
</plugin>
